      <table>
          <thead>
            <tr>
              <th>標題</th>
              <th>內容</th>
            </tr>
          </thead>
          <tbody>
            <% posts.forEach(function(post) { %>
              <tr>
                <td><%= post.title %></td>
                <td><%= post.content %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
