<h1 class="display-4">Articles</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            
            <th>Title</th>
            
            <th></th>
        </tr>
   </thead>

   <tbody>
        <% articles.forEach(function(number){ %>
            <tr>
                <td><%= number.id %></td>
                <td><%= number.title %></td>
                
                <td>
                    <a href="/articles/edit/<%= number.id %>" class="btn btn-primary"></a>
                    <form class="d-inline" action="/articles/delete/<%= number.id %>" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger">
                        
                    </form>
                </td>

            </tr>
        
        
        <% }) %>

   </tbody>

</table>